@import url('https://fonts.cdnfonts.com/css/gilroy');
.about{
    width:100%;
    height:max-content;
    margin-top:-75px;
}
.about-hero{
    width:100%;
    height:max-content;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* background-color: red; */
} 
.about-part{
    width:100%;
    height:35vh;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}
.about-circle{
    width:400px;
    height:380px;
    background-color: #198cd6;
    margin-left: -250px;
    margin-top: -350px;
    border:2px solid;
    border-radius: 50%; 
    opacity: 5;
    filter: blur(150px);
}
.about-text{
    width:100%;
    height:max-content;
}
.abouthero-text{
    width:100%;
    height: max-content;
    float: left;
    padding:120px 0px 30px 110px;
    /* background-color: red; */
}
.about-text .abouthero-text h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: #000;
}
.about-image{
    width:100%;
    height:max-content;
}
.about-text2{
    width:100%;
    height:max-content;
}
.about-text2 img{
    width:100%;
    height:100%;
    object-fit: contain;
}
.about-sec{
    width:100%;
    height:max-content;
    display: flex;
    margin-top: -4px;
    flex-direction:column ;
    overflow: hidden;
    /* background-color: red; */
}
.about-blur{
    width:350px;
    height:350px;
    background-color: #198cd6;
    margin-left: 1200px;
    margin-top: -350px;
    border:2px solid;
    border-radius: 50%; 
    opacity: 5;
    filter: blur(150px);
}
.about-goal{
    width:100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:100px 80px 60px 80px;
    /* background-color: blue; */
}
.about-goal .goal{
    width:40%;
    height: max-content;
}
.about-goal .goal p{
    text-align: center;
    font-size: 26px;
}
.about-goal .card{
    width:60%;
    height: max-content;
    
}
.about-goal .card p{
    font-size: 22px;
}
/* .about-section{ 
    width:100%;
    height:max-content;
    display: flex;
    flex-direction: row;
     background-color: red;
}
.about-mobile{
    width:40%;
    height:max-content;
    display: flex;
    justify-content: center;
    padding:40px 0px;
    background-color: blue;
}
 .about-mobile img{
    width:315px;
    height:625px;
}
.about-mobiletext{
    width:60%;
    height:113vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px 40px;
}
.about-mobiletext h2{
    text-align: center;
}
.about-numbers{
    width:100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:30px 0px;
    background-color: blue;
}
.about-numbers .about-customers{
    width:25%;
    height: 30vh;
    text-align: center;
    padding:40px 0px;
    background-color: red; 
}
.about-numbers .about-customers h2{
    font-size: 40px;
} */
.about-sec1{
    width:100%;
    height:max-content;
    display: flex;
    margin-top: -5px;
    flex-direction:column ;
    overflow: hidden;
    /* background-color: red; */
}
.about-blur1{
    position: absolute  ;
    width:200px;
    height:200px;
    background-color: #198cd6;
    margin-top: 400px;
    border:2px solid;
    border-radius: 50%; 
    opacity: 5;
    filter: blur(120px);
}
.about-rect{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 60px auto;
    /* background-color: red; */
}
.about-rect .about-card{
    width: 50%;
    height: max-content;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    /* background-color:blue; */
}
.about-rect .about-card1{
    width: 50%;
    height: max-content;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    /* background-color:blue; */
}
.about-rect .about-card img,
.about-rect .about-card1 img{
    width:80%;
    height:80%;
    object-fit: contain;
}
.about-sponsor{
    width:100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:30px 0px;
    /* background-color: blue; */
}
.about-sponsor h2{
    font-size: 35px;
    margin-left:120px;
}
.sponsor-card-row{
    width:100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding:0px 30px;
}
.sponsor-card-row .sponsor-card{
    width:25%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px 30px;
    flex-shrink: 0;
    /* background-color: pink; */
}
.sponsor-card img{
    width:190px;
    height:180px;
    object-fit: contain;
}
.about-btn{
    width: 100%;
    height:max-content;
    padding:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.about-btn button{
    width:30%;
    height:8vh;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    border-style: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    color:#fff;
    font-size: 24px;
    cursor: pointer;
    background: #198cd6;
    transition: all 0.4s ease;
}
.about-btn button:hover{
    background-color:#022a42;
}


/* Responsiveness of the Site */
@media only screen and (max-width: 1115px) {
 
    .sponsor-card-row .sponsor-card{
        width:30%;
    }
}
@media only screen and (max-width: 975px) {
    .sponsor-card-row .sponsor-card{
        width:40%;
    }
}
@media only screen and (max-width: 900px) {
    .abouthero-text{
        padding:120px 20px 20px 20px;
        text-align: center;
    }
    .about-goal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:80px 50px 20px 50px;
    }
    .about-goal .goal{
        width:100%;
        height: max-content;
        padding-top:0px;
    }
    .about-goal .goal p{
        text-align: center;
        font-size: 28px;
        font-weight: 500;
    }
    .about-goal .card{
        width:100%;
        height: max-content;
        padding:40px;
    }
    .about-rect{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about-rect .about-card{
        width: 100%;
        padding-bottom: 0px;
    }
    .about-rect .about-card1{
        width: 100%;
    }
    .about-rect .about-card img,
    .about-rect .about-card1 img{
        width:50%;
        height:50%;
        object-fit: contain;
    }
    /* .about-mobile{
        width:100%;
        height:max-content;
        display: flex;
        justify-content: center;
        padding:90px 0px;
    }
    .about-mobile img{
        width:300px;
        height:595px;
    }
    .about-mobiletext{
        width:100%;
        height:30vh;
        display: block;
        padding:20px 40px;
    } */
    .about-btn button{
        width:50%;
        height:8vh;
    }
    .sponsor-card-row .sponsor-card{
        width:50%;
    }
}
@media only screen and (max-width: 650px) {
    .about-text .abouthero-text h2{
        font-size: 35px;
        font-weight: 700;
        line-height: 45px;
    }
    .about-mobile img{
        width:230px;
        height:455px;
    }
    .about-numbers{
        flex-direction:column;
        align-items: center;
        justify-content: center;
        padding:0px;
    }
    .about-numbers .about-customers{
        width:100%;
        padding:40px 0px;
    }
    .about-goal{
        display: flex;
        justify-content: center;
        align-items: center;
        padding:50px 20px 10px 20px;
    }
    .about-goal p{
        margin-left:0px;
    }
    .about-goal .card{
        height: max-content;
        padding:20px;
    }
    .about-goal .card p{
        font-size: 20px;
    }
    .about-blur{
        width:350px;
        height:350px;
        margin-left: 150px;
        margin-top: -350px;
        border:2px solid;
        border-radius: 50%; 
        opacity: 5;
        filter: blur(150px);
    }
    .about-rect .about-card img,
    .about-rect .about-card1 img{
        width:80%;
        height:80%;
        object-fit: contain;
    }
    .about-sponsor h2{
        margin-left:0px;
        text-align: center;
    }
    .sponsor-card-row .sponsor-card{
        width:80%;
    }
    .about-btn button{
        width:80%;
        height:8vh;
    }
}
    @media only screen and (max-width: 400px){
    .about-mobile img{
        width:200px;
        height:400px;
    }
    .about-mobiletext{
        padding:0px 20px;
    }
    .about-mobiletext h2{
       font-size: 22px;
    }
    .sponsor-card-row .sponsor-card{
        width:100%;
    }
    .about-btn button{
        width:100%;
        height:8vh;
    }
}

