.contact{
    width:100%;
    height:max-content;
    padding: 60px 80px;
    /* background-color: red; */
}
.contact-title{
    width:100%;
    height:max-content;
    padding:20px;
    /* background-color: green; */
}
.contact-title h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: #198cd6;
}
.contact-form{
    width:100%;
    height:max-content;
    display: flex;
    flex-direction: column;
    padding:20px;
    /* background-color: blue; */
}
input[type=text],
input[type=email]{
    width:60%;
    height:10vh;
    font-size: 22px;
    margin-bottom: 10px;
    padding:15px;
    border-style: none;
    color: #A4A4A4;
    border-bottom: 2px solid #A4A4A4;
  }
  input[type=file]{
    width:100%;
    height: 10vh;
    font-size: 22px;
    margin-top: 30px;
    color: #A4A4A4;
  }
  .contact-btn{
      width:100%;
      height: max-content;
      /* background-color: red; */
  }
  .contact-btn button{
        width:15%;
        height:7vh;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top-right-radius: 12px;
        border-style: none;
        color:#fff;
        margin-top: 30px;
        font-size: 24px;
        cursor: pointer;
        background: #198cd6;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        transition: all 0.4s ease;
    }
    .contact-btn button:hover{
        background-color:#022a42;
    }

















/* Responsiveness of the Site */
@media only screen and (max-width: 1115px) {
    
}
@media only screen and (max-width: 975px) {
    input[type=text],
    input[type=email]{
        width:90%;
      }
    .contact-btn button{
        width:25%;
    }
}
@media only screen and (max-width: 900px) {
    
     
}
@media only screen and (max-width: 650px) {
    .contact{
        padding: 60px 30px;
    }
    .contact-title h2{
        font-size: 30px;
        font-weight: 700;
        line-height: 35px;
        color: #198cd6;
    }
    input[type=text],
    input[type=email],
    input[type=file]{
        width:100%;
        font-size: 20px;
      }

    .contact-btn button{
        font-size: 20px;
        width:35%;
    }
}
    @media only screen and (max-width: 400px){
        .contact{
            padding: 60px 0px;
        }
}




