@import url('https://fonts.cdnfonts.com/css/gilroy');
                
.home{
    width:100%;
    height:max-content;
    margin-top:-75px;
}
.home-hero{
    width:100%;
    height:max-content;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}   
.home-part{
    width:55%;
    height:max-content;
    display: flex;
    flex-direction: column;
}
.home-circle{
    width:400px;
    height:380px;
    background-color: #198cd6;
    margin-left: -250px;
    margin-top: -350px;
    border:2px solid;
    border-radius: 50%; 
    opacity: 5;
    filter: blur(150px);
}
.home-text{
    width:100%;
    height:100vh;
    padding: 230px 0px 0px 80px;
    /* background-color: blue; */
}
.hero-text{
    width:100%;
    height: max-content;
    padding:0px 10px 0px 0px;
    /* background-color: red; */
}
.home-text .hero-text h2{
    font-size: 55px;
    font-weight: 700;
    line-height: 60px;
    color: #000;
}
.home-text .hero-text p{
    padding-top: 10px;
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
}
.home-btn{
    height: 90px;
    width:max-content;
    padding:15px 0px;
    /* background-color: aqua; */
  }
.home-signup{
    height: 60px;
    width:200px;
    background-color:#198cd6;
    border-radius: 8px;
    color:#fff;
    font-size: 15px;
    border-style: none;
    cursor:pointer;
    transition: all 0.4s ease;
  }
  .home-signup:hover{
    background-color:#022a42;
  }
.download-btn{
    height: 100px;
    width:400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: purple; */
}
.download-btn img{
    object-fit: contain;
    width:90%;
    height:90%;
}
.home-image{
    width:45%;
    height:100vh;
    padding:80px 0px 30px 0px;
    /* background-color: pink; */
}
.home-text2{
    width:100%;
    height:max-content;
    /* background-color: blue; */
}
.home-text2 img{
    width:650px;
    height:480px;
    object-fit: contain;
    /* background-color: red;   */
} 
.home-circle2{
    width:400px;
    height:400px;
    background-color: #198cd6;
    margin-left: 350px;
    margin-top: 50px;
    border-radius: 50%; 
    opacity: 5;
    filter: blur(150px);
}
.scroll-btn{
    position:absolute;
    width:45px;
    height:45px;
    border-radius: 50%;
    margin-top:580px;
    margin-left:650px;
    padding:8px;
    border:2px solid #198cd6;
    transition: all 0.5s ease;
}
.scroll-btn a{
    font-size: 24px;
    color:#198cd6;
}
/* Responsiveness of the Site */
@media only screen and (max-width: 1115px) {
    .home-text{
        padding: 190px 0px 0px 50px;
    }
    .scroll-btn{
        margin-top:580px;
        margin-left:600px;
    }
}
@media only screen and (max-width: 975px) {

}
@media only screen and (max-width: 900px) {
    .home-hero{
        flex-direction: column-reverse;
    } 
    .home-part{
        width:100%;
        height:100vh;
    }
    .home-circle{
        width:200px;
        height:200px;
        background-color: #198cd6;
        margin-left: 700px;
        margin-top: 0px;
        border:2px solid;
        border-radius: 50%; 
        opacity: 5;
        filter: blur(150px);
    }
    .home-circle2{
        position: absolute;
        width:200px;
        height:200px;
        background-color: #198cd6;
        left: -500px;
        top: -100px;
        border-radius: 50%; 
        opacity: 5;
        filter: blur(150px);
    }
    .home-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:0px;
    }
    .home-image{
        width:100%;
        height:90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top:200px;
    }
    .home-text2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home-text2 img{
        width:600px;
        height:500px;
        object-fit: contain;
    } 
    .hero-text{
        width:90%;
        height: 37vh;
        padding:0px 30px;
        text-align: center;
    }
    .home-btn{
        height: 90px;
        width:400px;
        padding:15px 0px;
        display: flex;
        justify-content: center;
    }
    .download-btn img{
        margin-right:20px;
        margin-left:10px;
      }
    .scroll-btn{
        margin-top:1080px;
        margin-left:410px;
    }
}
@media only screen and (max-width: 650px) {
    .home-text{
        padding:0px;
        margin-top:200px;
    }
    .hero-text{
        width:100%;
        height: 40vh;
        padding:0px 30px 0px 30px;
    }
    .home-text .hero-text h2{
        font-size: 45px;
    }
    .home-text .hero-text p{
        font-size: 20px;
    }
    .home-image{
        width:100%;
        height:80vh;
        padding: 250px 0px 50px 0px;
    }
    .scroll-btn{
        margin-top:1080px;
        margin-left:290px;
    }
}
@media only screen and (max-width: 470px){
    .home-image{
        width:100%;
        height:80vh;
        padding: 200px 0px 50px 0px;
    }
    .home-text{
        padding:0px 0px 0px 30px;
        margin-top:-200px;
    }
    .hero-text{
        padding:0px 50px 0px 0px;
    }
    .home-circle{
        width:200px;
        height:200px;
        background-color: #198cd6;
        left: 550px;
        top: 850px;
        border:2px solid;
        border-radius: 50%; 
        opacity: 5;
        filter: blur(150px);
    }
    .home-text2 img{
        width:370px;
        height:400px;
    }
    .home-text .hero-text h2{
        font-size: 35px;
        line-height: 48px;
        text-align: left;
    }
    .home-text .hero-text p{
        font-size: 18px;
        text-align: left;
    }
    .home-text .download-btn{
        align-items: start;
    }

    .download-btn{
        height: 150px;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        margin-top:30px;
    }
    .download-btn .apple{
        margin-bottom: 20px;
    }
    .download-btn img{
        object-fit: contain;
        width:90%;
        height:100%;
        margin-left:-1px;
      }
}
@media only screen and (max-width: 400px){
    .home-part{
        height:75vh;
    }
    .home-image{
        padding: 50px 0px;
    }
    .home-text{
        height: 70vh;
    }
    .hero-text{
        padding:0px 50px 0px 0px;
        margin-top: -50px;
    }
    .download-btn{
        margin-top:0px;
    }
    .home-text2 img{
        width:300px;
        height:390px;
    }
}
