@import url('https://fonts.cdnfonts.com/css/gilroy');
.service{
    width:100%;
    height:max-content;
    margin-top:-75px;
}
.service-hero{
    width:100%;
    height:max-content;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* background-color: red; */
} 
.service-part{
    width:100%;
    height:max-content;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}
.service-circle{
     width:400px;
    height:400px;
    /* background-color: #198cd6; */
    margin-left: -250px;
    margin-top: -350px;
    border:2px solid;
    border-radius: 50%; 
    opacity: 5;
    filter: blur(150px);
}
.service-text{
    width:100%;
    height:max-content;
}
.servicehero-text{
    width:100%;
    height: max-content;
    padding:30px 0px 20px 0px;
    /* background-color: #000; */
    text-align:left;
    position:absolute;
    top: 22%;
    left:50%;
    transform: translate(-50%, -50%);
}
.service-text .servicehero-text span{
    display: block;
}
.service-text .servicehero-text .text1 h2{
    font-size: 40px;
    font-weight: 700;
    line-height:60px;
    padding:0px 0px 0px 100px;
    color: #000;
    background-color: #fff;
    letter-spacing: 6px;
    position:relative;
    animation: text 3s 1;
}
.service-text .servicehero-text .text2 h2{
    font-size: 30px;
    color: #000;
    /* background-color: red; */
    padding-left:100px;
}
@keyframes text {
    0%{
        color:#000;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing:25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing:6px;
        margin-bottom:-40px;
    }
}
.service-image{
    width:100%;
    height:max-content;
    margin-top: 180px;
}
.service-text2{
    width:100%;
    height:max-content;
}
.service-text2 img{
    width:100%;
    height:100%;
    object-fit: contain;
} 
.service-sec1{
    width:100%;
    height:max-content;
    display: flex;
    margin-top: -5px;
    flex-direction:row ;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background-color: red; */
}
.service-blur1{
    position: absolute  ;
    width:150px;
    height:150px;
    background-color: #198cd6;
    margin-left: -1300px;
    margin-top: 400px;
    border:2px solid;
    border-radius: 50%; 
    opacity: 5;
    filter: blur(120px);
}
.service-section{
    width:100%;
    height:max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0px;
    /* background-color: red; */
}
.service-section .service-enterprise{
    width:30%;
    height:max-content;
    margin-right: 20px;
    padding:40px 0px 40px 90px;
    text-align: left;
    animation: slide-up 2s;
    animation-delay:2s;
    /* background-color: blue; */
   
}
.service-section .service-enterprise p{
    line-height: 10px;
}
@keyframes slide-up{
    from {
        opacity : 0.05;
        line-height:200px;
    }
    to{
        opacity:1;
        line-height: 25px;
    }
}
.service-section .service-enterprise h2{
    font-size: 30px;
    padding-bottom: 20px;
}
.service-section .service-enterprise p{
    font-size: 20px;
    line-height:25px; 
}
.service-section .service-enterprise1{
    width:70%;
    height:max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 20px;
    padding:40px 50px;
    text-align: center;
    /* background-color: blue; */
}
.service-section .service-enterprise1 .enter{
    width: 50%;
    height: max-content;
    margin-right: 10px;
    /* background-color: green ; */
}
.service-section .service-enterprise1 .service-enterprise-img{
    width:100%;
    height:max-content;
    padding-bottom: 60px;
    /* background-color: pink; */
}
.service-section .service-enterprise1 .service-enterprise-img p{
    font-size: 18px;
    line-height: 20px;
    /* background-color: red; */
}


/* Responsiveness of the Site */
@media only screen and (max-width: 1115px) {
    
}
@media only screen and (max-width: 975px) {
   
}
@media only screen and (max-width: 900px) {
    .servicehero-text{
        width:100%;
        height: max-content;
        padding:0px 0px 20px 50px;
        text-align:left;
        top: 22%;
        left:50%;
        /* background-color: red; */
    }
    .service-text .servicehero-text .text1 h2{
        font-size: 30px;
        line-height:30px;
        background-color: #fff;
        letter-spacing: 1px;
        color: #000;
        padding-top:10px;
        margin-left: -50px;
    }
    .service-text .servicehero-text .text2 h2{
        padding-left:100px;
        font-size: 30px;
        color: #000;
        margin-left: -50px;
    }
    .service-sec1{
        width:100%;
        height:max-content;
        display: flex;
        flex-direction:column ;
        justify-content: center;
        align-items: center;
    }
    .service-section .service-enterprise,
    .service-section .service-enterprise1{
        width:100%;
        height:max-content;
        margin-right: 0px;
        padding:30px 0px;
        text-align: center;
    }
}
@media only screen and (max-width: 650px) {
    .service-text .servicehero-text h2{
        font-size: 35px;
        font-weight: 700;
        line-height: 45px;
    }
    .service-section .service-enterprise h2{
        font-size: 25px;
        padding-bottom: 15px;
    }
    .service-section .service-enterprise p,
    .service-section .service-enterprise1 p{
        font-size: 18px;
    }
    .service-blur1{
        position: absolute  ;
        width:150px;
        height:150px;
        background-color: #198cd6;
        margin-left: -300px;
        margin-top: 250px;
        border:2px solid;
        border-radius: 50%; 
        opacity: 5;
        filter: blur(120px);
    }
}
    @media only screen and (max-width: 400px){
        .service-section .service-enterprise,
        .service-section .service-enterprise1{
            padding:40px 20px;
        }
        .service-text .servicehero-text .text1 h2,
        .service-text .servicehero-text .text2 h2{
            padding-left:50px;
        }
}


