@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
.service{
    width:100%;
    height:max-content;
    margin-top:-65px;
}
.service-hero{
    width:100%;
    height:max-content;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* background-color: red; */
} 
.service-part{
    width:100%;
    height:max-content;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}
.service-circle{
    width:400px;
    height:400px;
    background-color: #198cd6;
    margin-left: -250px;
    margin-top: -350px;
    border:2px solid;
    border-radius: 50%; 
    opacity: 5;
    filter: blur(150px);
}
.service-text{
    width:100%;
    height:max-content;
}
.servicehero-text{
    width:100%;
    height: max-content;
    padding:80px 0px 20px 110px;
    /* background-color: red; */
}
.service-text .servicehero-text h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: #000;
}
.service-image{
    width:100%;
    height:max-content;
}
.service-text2{
    width:100%;
    height:max-content;
}
.service-text2 img{
    width:100%;
    height:100%;
    object-fit: contain;
} 
.service-sec1{
    width:100%;
    height:max-content;
    display: flex;
    margin-top: -5px;
    flex-direction:row ;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background-color: red; */
}
.service-blur1{
    position: absolute  ;
    width:150px;
    height:150px;
    background-color: #198cd6;
    margin-left: -1300px;
    margin-top: 400px;
    border:2px solid;
    border-radius: 50%; 
    opacity: 5;
    filter: blur(120px);
}
.service-section{
    width:100%;
    height:max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0px;
    /* background-color: red; */
}
.service-section .service-enterprise{
    width:30%;
    height:max-content;
    margin-right: 20px;
    padding:40px 50px;
    text-align: center;
    /* background-color: blue; */
   
}
.service-section .service-enterprise h2{
    font-size: 30px;
    padding-bottom: 20px;
}
.service-section .service-enterprise p{
    font-size: 20px;
    line-height:30px; 
    text-align: left;
}
.service-section .service-enterprise1{
    width:70%;
    height:max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 20px;
    padding:40px 50px;
    text-align: center;
    /* background-color: blue; */
}
.service-section .service-enterprise1 .enter{
    width: 50%;
    height: max-content;
    margin-right: 10px;
    /* background-color: green ; */
}
.service-section .service-enterprise1 .service-enterprise-img{
    width:100%;
    height:max-content;
    padding-bottom: 60px;
    /* background-color: pink; */
}
.service-section .service-enterprise1 .service-enterprise-img p{
    font-size: 18px;
}


/* Responsiveness of the Site */
@media only screen and (max-width: 1115px) {
    
}
@media only screen and (max-width: 975px) {
   
}
@media only screen and (max-width: 900px) {
    .servicehero-text{
        padding:80px 20px 15px 20px;
        text-align: center;
    }
    .service-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .service-section .service-enterprise,
    .service-section .service-enterprise1{
        width:100%;
        height:max-content;
        margin-right: 0px;
    }
}
@media only screen and (max-width: 650px) {
    .service-text .servicehero-text h2{
        font-size: 35px;
        font-weight: 700;
        line-height: 45px;
    }
    .service-section .service-enterprise h2{
        font-size: 25px;
        padding-bottom: 15px;
    }
    .service-section .service-enterprise p,
    .service-section .service-enterprise1 p{
        font-size: 18px;
    }
}
    @media only screen and (max-width: 400px){
        .service-section .service-enterprise,
        .service-section .service-enterprise1{
            padding:40px 20px;
        }
}


